@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&family=Orbitron:wght@600&display=swap');

*{
    box-sizing: border-box;
}

html, body {
    margin: 0;
    scroll-behavior:smooth;
}

body{
    font-family: 'Manrope', sans-serif;
    line-height: 1.6;
}

.s-center{
    text-align: center;
}

@media (min-width: 1024px){
    .s-center{
        text-align:left;
    }
}

.flex{
    display: flex;
}

.absolute{
    position: absolute;
}

